#set ($VOID = $velocityPortletPreferences.setValue("portletSetupPortletDecoratorId", "barebone"))

<div aria-expanded="false" class="$nav_collapse collapse" id="navigationCollapse">

	<div class="$nav_css_class $nav_css_right site-navigation" id="navigation" role="navigation">
		#navigation_menu($velocityPortletPreferences.toString())
	</div>

	#if ($navigationSearch == true)
		<nav id="search" role="navigation">
			<div class="$nav_css_right navbar-form" role="search">
				#set ($VOID = $velocityPortletPreferences.setValue("portletSetupPortletDecoratorId", "barebone"))

				#search($velocityPortletPreferences.toString())

				#set ($VOID = $velocityPortletPreferences.reset())
			</div>
		</nav>
	#end


</div>

#set ($VOID = $velocityPortletPreferences.reset())