
$background-color-1:		#7BC6DC; // pasar a dos
$background-color-2:		#BDCADB;
$background-color-3:		#5657A1;  /*#57589F;*/
$background-color-4:		#242529;
$background-color-5:		rgba(101, 104, 184, 1);	// #6568B8;


$color-1:		#596575;	// darker gray  596575
$color-2:		#FFFFFF;	// white
$color-3:		#B5BDC6;	// medium gray
$color-4:		#57D192;


